#container {
	margin: 0px 0px;
	border-radius: 0px 0px 5px 5px;
}

a {
	text-decoration: none;
}

.page,body,.page__ft,.weui-btn-area,.weui-cells__title {
	background-color: #f8f8f8;
}


.page .main{
	padding:5px 0;
}
.page .main .box{
	margin:8px 0;
}
	
.page .main .box h1{
	font-weight:normal;
}
.page .main .box h1 .title{
	overflow:hidden;
	padding:5px 15px;
}
.page .main .box h1 .title img{
	float:left;
	width:22px;
	height:22px;
	display:block;
}
.page .main .box h1  b{
	float:left;
	font-size:12px;
	font-family:'Î¢ÈíÑÅºÚ';
	line-height:22px;
	color:#292E35;
	margin-left:8px;
}

.page .main .box h1  span{
	padding:0 15px 0 24px;
	font-size:12px;
	font-family:'Î¢ÈíÑÅºÚ';
	line-height:22px;
	color:#747474;
	display:block;
	text-indent:2em;
}

footer{
	padding:20px 0;
}
footer .copyright{
	overflow:hidden;
	width:245px;
	margin:0 auto;
}
footer .logo{
	float:left;
	width:32px; 
	height:32px;
	display:block;
}
footer span{ 
	float:right;
	width:206px;
	line-height:32px; 
	text-align:right; 
	color:#96a4ae;
	font-size:12px;
	font-family:¡°Î¢ÈíÑÅºÚ¡±; 
}
