<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>事故微处</title>
<link href="${CONTEXT_PATH}/resources/css/accident/brief.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="page">
	 
	<div class="main">
			<div class="box">
					<h1>
							<div class="title">
									<img src="${CONTEXT_PATH}/resources/image/accident/fw.png"/>
									<b>适用范围</b>
							</div>
							<div class="li">
									<span>1.发生在绍兴市区道路范围内，机动车之间(摩托车除外)的轻微物损互碰事故。</span>
									<span>2.事实无异议，无人伤，车能动。</span>
							</div>
							
					</h1>
			</div>
			<div class="box">
					<h1>
							<div class="title">
									<img src="${CONTEXT_PATH}/resources/image/accident/time.png"/>
									<b>适用时间</b>
							</div>
							<div class="li">
									<span>每天7:30到18:00。</span>
							</div>
					</h1>
			</div>
			<div class="box">
					<h1>
							<div class="title">
									<img src="${CONTEXT_PATH}/resources/image/accident/phone.png"/>
									<b>联系电话</b>
							</div>
							<div class="li">
									<span>0575-81500110</span>
							</div>
					</h1>
			</div>
			<div class="box">
					<h1>
							<div class="title">
									<img src="${CONTEXT_PATH}/resources/image/accident/js.png"/>
									<b>特别警示</b>
							</div>
							<div class="li">
									<span>伪造现场、虚假报案，将依法追究刑事责任。</span>
							</div>
					</h1>
			</div>
	</div>
	<a   class="submit"  href="${CONTEXT_PATH}/accident/gather">知道了</a>
</div>
</body>
<script type="text/javascript">

  

 
</script>
</html>
