<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>图解轻微事故自行定责</title>
<link href="${CONTEXT_PATH}/resources/css/accident/responsibility.css"
	rel="stylesheet" type="text/css">
</head>

<body id="activity-detail">

	<div class="page-bizinfo">
		<div class="header">
			<h1 id="activity-name">交警图解轻微事故自行定责</h1>
			<p class="activity-info">
				<span id="post-date" class="activity-meta no-extra">2014-06-17</span>
				<a href="" id="post-user" class="activity-meta"> <span
					class="text-ellipsis">绍兴交警</span><i class="icon_link_arrow"></i>
				</a>
			</p>
		</div>
	</div>

	<div id="page-content" class="page-content">
		<div id="img-content">

			<div class="media" id="media">
				<img
					src="${CONTEXT_PATH}/resources/image/accident/responsibility_0.jpg" />
			</div>
			<span style="color: #030303; font-weight: bold;">交警教你轻微交通事故自行定责</span>
			<div class="media" id="media">
				<img
					src="${CONTEXT_PATH}/resources/image/accident/responsibility_1.gif" />
			</div>
			<div class="media" id="media">
				<img
					src="${CONTEXT_PATH}/resources/image/accident/responsibility_2.gif" />
			</div>
			<div class="media" id="media">
				<img
					src="${CONTEXT_PATH}/resources/image/accident/responsibility_3.gif" />
			</div>
			<div class="media" id="media">
				<img
					src="${CONTEXT_PATH}/resources/image/accident/responsibility_4.gif" />
			</div>
			<div class="media" id="media">
				<img
					src="${CONTEXT_PATH}/resources/image/accident/responsibility_5.gif" />
			</div>
			<div class="media" id="media">
				<img
					src="${CONTEXT_PATH}/resources/image/accident/responsibility_6.gif" />
			</div>
			<div class="media" id="media">
				<img
					src="${CONTEXT_PATH}/resources/image/accident/responsibility_7.gif" />
			</div>
			<div class="media" id="media">
				<img
					src="${CONTEXT_PATH}/resources/image/accident/responsibility_8.gif" />
			</div>
			<div class="media" id="media">
				<img
					src="${CONTEXT_PATH}/resources/image/accident/responsibility_9.gif" />
			</div>
			<div class="media" id="media">
				<img
					src="${CONTEXT_PATH}/resources/image/accident/responsibility_10.gif" />
			</div>
		</div>
	</div>

</body>
</html>
