<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>绍兴交警支队微信公众平台</title>
<link href="${CONTEXT_PATH}/resources/css/accident/scope.css" rel="stylesheet" type="text/css"> 
</head>
<body>
<div id="borderLogo"><div class="logoImg"></div></div>
 <div id="content" class="main fontSize2">
    <p class="title" align="left">绍兴支队微信事故处理简介</p>
    <span class="src">2014-06-16 绍兴交警支队</span>
    <p class="text">
        <div class="preLoad" style="width:100%; min-height:167px">
            <div class="img">
                <img src="${CONTEXT_PATH}/resources/image/accident/scope.jpg" 
                    style="width:100%;display:block;" alt="轻微事故"/>
            </div>
        </div>
    </p> 
    <p class="text">
    &nbsp;&nbsp; 为减少因交通事故引起的交通堵塞，保障道路畅通，保护广大交通参与者的合法权益，倡导互谅互让的良好社会风气，绍兴市公安局交警支队在“绍兴交警”微信平台中推出微信快速处理交通事故的功能。<br>
     &nbsp;&nbsp; 一、微信事故受理范围<br>
      &nbsp;&nbsp;&nbsp;&nbsp;适用于6时至20时机动车（含机动车与非机动车）在绍兴市城区道路上发生的不涉及人员伤亡，仅造成各方车辆损失（二车损失不超过1万元），车辆可以自行移动且投保了车辆交强险和商业险的道路交通事故。<br />
    &nbsp;&nbsp;二、微信事故处理流程<br>
      &nbsp;&nbsp;&nbsp;&nbsp;（一）拍摄车辆在道路上的位置关系、接触部位及驾驶证、行驶证、交强险凭证并上传微信受理平台。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;（二）经微信受理台确认，获取事故编号后立即撤离现场，将车移至不妨碍交通之处自行协商损害赔偿事宜。同时，迅速向保险公司报案。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;（三）需要进行保险理赔的，事故各方凭所获取的微信事故编号在24小时内共赴保险行业理赔服务点办理有关手续。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;（四）对事故责任或损害赔偿有争议的，可采取下列方式处理：<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、各方当事人凭获取的微信事故编号直接赴辖区交警大队处理。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、通过微信实现在线指导定责，达成损害赔偿协议。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、需要交警出警处理的，按提示操作，交警大队将迅速与您取得联系并派员赴现场处理。<br>
    &nbsp;&nbsp;三、不适用微信处理的几种情形<br>   
      &nbsp;&nbsp;&nbsp;&nbsp;遇有下列情形之一，直接拨打110，等候交警现场处理。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、机动车无号牌、无检验合格标志、无保险标志的；<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、机动车方无有效机动车驾驶证的；<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、机动车方有饮酒、服用国家管制的精神药品或者麻醉药品嫌疑的；<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、碰撞建筑物、公共设施或者其他设施的；<br> 
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、发现对方有故意造成交通事故或持有假牌、假证嫌疑的。<br> 
      &nbsp;&nbsp;四、轻微事故责任认定及定损理赔<br>   
      &nbsp;&nbsp;&nbsp;&nbsp;（一）机动车之间发生的物损交通事故，二车损失在1万以内的，由保险行业理赔服务点指导办理有关定责、定损和理赔手续。其中一方当事人有下列情形的，承担全部责任：<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、追尾的;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、逆行的；<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、倒车或溜车的；<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、开关车门的；<br> 
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、违反交通信号的;<br> 
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、未按规定让行的。<br> 
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其他情形均视为混合过错，当事人承担同等责任，但有其他证据证明其中一方当事人无过错的除外。<br> 
      &nbsp;&nbsp;&nbsp;&nbsp;（二）机动车与非机动车之间发生的物损交通事故，不适用上述定责原则，由辖区交警大队根据实际过错作出责任认定，保险行业理赔服务点指导办理有关定损和理赔手续。<br>
    </p>
</body>
</html>